header{
    display: flexbox;
    color: #1DB954;
    height: 70px;
    line-height: 60px;
    text-align: right;
    word-spacing: 50px;
    padding-right: 50px;
    text-decoration: none;
}
body{
    background-color: #191A19;
    color: white;
}
a{
    color: #1DB954;
    text-decoration: none;
}
#perfil_main{
    border: 3px solid purple;
    height: calc( 100vh - 70px);
    display: flex;
}
#perfil_container{
    border: 3px solid red;
    background-color: #1DB954;
    background-color: #333333;
    width: 500px;
}
#foto{
    
}
#perfil_main div{
    display: inline-block;
}
#perfil_nome{
    border: 3px solid blue;
}
#descricao{
    border: 3px solid green;
}
#foto_container{
    height: 300px;
    border: 3px solid #1DB954;
    padding-right: 5px;
    padding-bottom: 5px;
    vertical-align: middle;
}